/*GLobal Style Start*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Baloo Bhai 2", cursive !important;
  background-color: hsl(206, 21%, 94%);
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
#searchResult{
  visibility: hidden;
}
.searchResult,
p,
h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*GLobal Style End*/

/*Other Styling*/
#word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#definition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#spell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
audio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#different{
  margin-top: 10px;
  margin-bottom: 10px;
}
/*Other Styling End*/
